<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Ресторант | Trohar Delivery</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <header class="site-header">
    <div class="container">
      <img src="images/Trohar Delivar-modified.png" alt="Trohar Delivery Logo" class="logo" />
      <h1>Trohar <span class="highlight">Delivery</span></h1>
      <nav class="nav-bar">
        <ul class="nav">
          <li><a th:href="@{/}">Начало</a></li>
        </ul>
        <div class="user-area" id="user-area"></div>
      </nav>
    </div>
  </header>

  <main class="login-container">
    <h2>Поръчки за твоя ресторант</h2>
    <ul id="orderList"></ul>
  </main>

  <footer class="footer">
    <p>&copy; 2024 Trohar Delivery</p>
  </footer>

  <script src="script.js"></script>
</body>
</html>
